@import "tailwindcss";

body {
  margin: 0;
  padding: 0;
}

@media print {
  .no-print {
    display: none !important;
  }
  .print-only {
    display: block !important;
  }
  body {
    background: white !important;
    color: black !important;
  }
}
